{
    "extends": ["eslint:recommended", "plugin:vue/recommended", "plugin:prettier/recommended"],
    "plugins": ["vue"],
    "env": {
        "browser": true,
        "es6": true
    },
    "rules": {
        "prettier/prettier": [
        "error",
        {
            "singleQuote": true,
            "trailingComma": "es5"
        }
        ]
    }
}
